@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main CSS ------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-text-color: #c28400;
    --secondary-text-color: #000000;
    --padding-inline-section: 20px;
    --main-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: #ffffff;
        --secondary-text-color: #EAD8B1;
        --main-color: #1E1E1E;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    color: var(--secondary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

a:visited{
    color: var(--secondary-text-color);
}

.container{
    flex-direction: column;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    width: 100vw;
    height: 100vh;
}

section{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar ------------------------ */

.Navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--secondary-text-color);
}

nav{
    padding: 36px 8%;
   
}
main{
    height:100vh;
    width: 70%;
    margin:0 auto;
    background-color: var(--main-color);
    border-radius: 24px;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo h2{
    margin-left: 8px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
nav ul{
    z-index: 99;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color:var(--main-color);
    margin-right: 24px;
    
}

/* About me ------------------------ */

.aboutme{
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.aboutme-text{
    display: flex;
    text-align: center;
}

.profile-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

/* Portofolio ------------------------ */

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Favorite Music ------------------------ */

.spotify-embed{
    display: flex;
    width: 400px;
    height: auto;
}

#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Contact ------------------------ */

#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


/* Contact ------------------------ */

#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#section5 input, button, textarea {
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-image:none;
    background-color: #dadad3;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 5px;
    
    &:focus {
        outline: none;
    }
}

textarea {
    min-height: 50px;
    resize:vertical;
}

button {
    cursor: pointer;
    font-weight: 500;
}

.feedback-card {
    max-width: 980px;
    margin: 0 auto;
    box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}

.feedback-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
}

.feedback-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feedback-body__message {
    margin-top: 10px;
}

.feedback-body button {
    margin-top: 10px;
    align-self: flex-end;
}